extends ../layouts/main.pug

block globals
  - title = "Explore Our Beers"

block content
  div.container
    h1.text-center 
      =title

    
    h3.text-center No beer for you to test yet......
  


