
form(action=(beer ? '/beers/update' : '/beers'), method="POST")
  if beer
    input(type="hidden", name="id", value=beer.id)
  .form-group
    label Name
    input.form-control(name="beer[name]", required, value=(beer ? beer.name : null)) 

  .form-group
    label Origin
    textarea.form-control(name="beer[origin]")
      = beer ? beer.content : null
  .form-group
    label Brewery
    textarea.form-control(name="beer[brewery]")
      = beer ? beer.content : null

  .form-group
    label Description
    textarea.form-control(name="beer[description]")
      = beer ? beer.content : null

  .form-group
    button.btn.btn-dark(type="submit") Submit