
form(action=(beer ? '/beers/update' : '/beers'), method="POST")
  if beer
    input(type="hidden", name="id", value=beer.id)
  .form-group
    label Name
    input.form-control(name="beer[name]", required, value=(beer ? beer.name : null)) 
  .form-group
    label Origin
    input.form-control(name="beer[origin]", required, value=(beer ? beer.origin : null)) 
  .form-group
    label Brewery
    input.form-control(name="beer[brewery]", required, value=(beer ? beer.brewery : null)) 
  .form-group
    label Description
    textarea.form-control(name="beer[description]")
      = beer ? beer.description : null

  .form-group
    button.btn.btn-dark(type="submit") Submit